header{
      padding-top: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 1.5rem;
      border-bottom:gray;
  
} 
  
h3 {
          padding-left: 1rem;
          font-weight: 200;
          color: #eeece6;
    }
    
button {
          appearance: none;
          color: mintcream;
          background-color: transparent;
          margin-right: 1rem;
          font-weight: 700;
      }