.App {
position: relative;
height: 100%;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}


.home{
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header{
  width: 70vw;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;

} 

header h3 {
      padding-left: 2rem;
      font-weight: 200;
      color: #eeece6;
    }
    header a{
  text-decoration: none;

}

nav{
  display: flex;
  gap: 1rem;
  align-self: flex-end;
  justify-self: flex-end;
}
nav a{
  text-decoration: none;
  font-weight: lighter;
  color:#eeece6;

}

button {
      appearance: none;
      color: mintcream;
      background-color: transparent;
      margin-right: 2rem;
      font-weight: 700;
  }



#hero {
  margin-bottom: 2rem;
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;   
  
  
  
}

#heroTitle {
  font-size: 3rem;        
  text-align: center;
  padding-top: 10%;          
  padding-bottom: 10%;          
  letter-spacing: 0.15rem;
  max-width: 80%;     
  font-family: 'Special Elite', cursive; 
  color: mintcream;
  
}
#subtitle{
  padding-top: 5%;          
  font-size: 1rem;
}

h2{        
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Special Elite', cursive; 
  font-size: 1rem;
       
}

#features{
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}

.feature{
  max-width: 16rem;
  height: 40vh;
  
  border: 1px solid hsl(45, 19%, 92%, .2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;  

}
.feature h3{
  color:#eeece6;
  font-size: 1.2rem;
  font-weight:400;
}
.feature img{
  padding-top: 2rem;
  width: 60%;
  height: 50%;
}
.feature p{
 
  line-height: 1.25rem;  
  width: 80%;
  text-align: center;
  color: #eeece6;
  font-weight: 100;
  padding-bottom: 2rem;
}
#database img{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  height: 40%;

}
.projects{
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem;
}
.project{
  border: 2px solid hsl(45, 19%, 92%, .2);
  border-radius: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.projectHead{
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
}
.projectHead p{
  color: #eeece6;

}
.projects h2{
  color: aliceblue;
  font-size: 1.5rem;
  padding-bottom: 2rem;

}

.projectImage {
  max-width: 50rem;
}
.projectImage img{
  width: 100%;
}
.projects .links{
  display: flex;
  gap:1rem;
  text-decoration: none;
  
}
  .projects .links a{
  color:aliceblue;
  text-decoration: none;
}


.otherProjects{
  max-width: 50rem;
  display: flex;
  gap: 1rem;

}
.otherProjects .projectHead .title{
  max-width: 20rem;


}
.otherProjects img{
  width: 80%;
}
.otherProjects .projectHead{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.otherProjects .projectHead img{

}